{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('history_index') }}">Прокат автомобилей</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if datatable is defined %} active {% endif %}">
                <a class="nav-link" href="{{ path('history_index') }}">История<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if cars is defined%} active {% endif %}">
                <a class="nav-link" href="{{ path('car_index') }}">Автомобили</a>
            </li>
            <li class="nav-item {% if tenants is defined%} active {% endif %}">
                <a class="nav-link" href="{{ path('tenant_index') }}">Арендаторы</a>
            </li>
            <li class="nav-item {% if points is defined%} active {% endif %}">
                <a class="nav-link" href="{{ path('point_index') }}">Точки проката</a>
            </li>
            <li class="nav-item {% if statist is defined%} active {% endif %}">
                <a class="nav-link" href="{{ path('statist_index') }}">Средняя продолжительность</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}