{% extends 'base.html.twig' %}
{% block body %}
    {#{{ dump(datatable) }}#}
    <h1>Какова средняя продолжительность проката автомобиля каждой марки по
        каждой точке</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№ п/п</th>
            <th scope="col">Марка</th>
            <th scope="col">Точка проката</th>
            <th scope="col">Средняя продолжительность, дн.</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for key, statist in datatable %}
            <tr>
                <td>{{i}}</td>
                <td>{{statist.cars }}</td>
                <td>{{statist.point }}</td>
                <td>{{statist.dats|number_format(1, '.', ',') }}</td>
            </tr>
            {% set i = i +1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
